# Python

**pycache**/
*.py[cod]
*$py.class

# Virtual Environment

venv/
env/
ENV/

# Django

db.sqlite3
media/

# Environment Variables

.env

# VS Code

.vscode/

# PyCharm

.idea/

# OS Files

.DS_Store
Thumbs.db

# Logs

*.log

# Python packaging

build/
dist/
*.egg-info/

# Migrations cache

*.pyc
